Bienvenue sur <%=@website%>, <%= @user.first_name %>
==================================================

Tu t'es inscrit avec succès sur  <%=@website%>,
ton nom d'utilisateur: <%= @user.username %>.

Pour te connecter clic sur ce lien <%= @url %>.

==================================================
Merci et bon shopping sur <%=@website%>!!!</p>
