Bienvenue sur <%=@website%>, <%= @user.first_name %>
==================================================

Tu t'es inscrit avec succès sur  <%=@website%>, avec le mail suivant: <%=@user.email%>
C'est sur ce mail que tu receveras tes validations de commande.

==================================================
Merci et bon shopping sur <%=@website%>!!!</p>
