<<div class="container bootstrap snippets bootdey">
  <div class="panel-body inf-content">
    <div class="row">
      <div class="col-md-4">
        <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
      </div>
      <div class="col-md-6">
        <h1><strong>Mes informations</strong></h1><br>
        <div class="table-responsive">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                    Numéro Client                                                
                  </strong>
                </td>
                <td class="text-primary">
                  123456789     
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-user  text-primary"></span>
                    Nom                                               
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.first_name%>     
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-cloud text-primary"></span>
                    Prénom                                                
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.last_name%>  
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-bookmark text-primary"></span>
                    Nom d'utilisateur                                                
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.username%> 
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-eye-open text-primary"></span>
                    Compte                                                
                  </strong>
                </td>
                <td class="text-primary">
                  Admin
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                    Email                                                
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.email%>  
                </td>
              </tr>
              <tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                    Adresse                                               
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.adress%>  
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                    created                                                
                  </strong>
                </td>
                <td class="text-primary">
                  <%=l current_user.created_at, :format => "%e %b %Y", :locale => 'fr'%>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                    Modified                                                
                  </strong>
                </td>
                <td class="text-primary">
                  <%=l current_user.updated_at, :format => "%e %b %Y", :locale => 'fr'%>
                </td>
              </tr>
            </tbody>
          </table>
          <%=link_to "Éditer profil", edit_user_path, class: "btn btn-sm btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>
