<div class="container p-5 bootstrap snippets bootdey">
  <div class="panel-body p-2 bg-white inf-content">
    <div class="row">
      <div class="col-md-4">
        <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
      </div>
      <div class="col-md-6">
        <h1><strong>Mes informations</strong></h1>
        <br>
        <div class="table-responsive">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                    Numéro Client                                                
                  </strong>
                </td>
                <td class="text-primary">
                  123456789     
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-user  text-primary"></span>
                    Nom                                               
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.first_name%>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-cloud text-primary"></span>
                    Prénom                                                
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.last_name%>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-bookmark text-primary"></span>
                    Nom d'utilisateur                                                
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.username.capitalize%>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-eye-open text-primary"></span>
                    Compte                                                
                  </strong>
                </td>
                <td class="text-primary">
                  Admin
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                    Email                                                
                  </strong>
                </td>
                <td class="text-primary">
                  <%=current_user.email%>
                </td>
              </tr>
              <tr>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-envelope text-primary"></span>
                      Adresse                                               
                    </strong>
                  </td>
                  <td class="text-primary">
                    <%=current_user.adress%>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-calendar text-primary"></span>
                      created                                                
                    </strong>
                  </td>
                  <td class="text-primary">
                    <%=l current_user.created_at, :format => "%e %b %Y", :locale => 'fr'%>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-calendar text-primary"></span>
                      Modified                                                
                    </strong>
                  </td>
                  <td class="text-primary">
                    <%=l current_user.updated_at, :format => "%e %b %Y", :locale => 'fr'%>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5">
              <%=link_to "Éditer profil", edit_user_path, class: "btn btn-sm btn-primary "%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-9">
      <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane  fade  active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            <h4 class="font-weight-bold mt-0 mb-4">Mes commandes</h4>
            <div class="bg-white card mb-4 order-list shadow-sm">
              <div class="gold-members p-4">
                <a href="#">
                </a>
                <div class="media">
                  <a href="#">
                    <img class="mr-4" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image">
                  </a>
                  <div class="media-body">
                    <a href="#">
                      <span class="float-right text-info">Delivered on Mon, Nov 12, 7:18 PM <i class="icofont-check-circled text-success"></i></span>
                    </a>
                    <h6 class="mb-2">
                      <a href="#"></a>
                      <a href="#" class="text-black">Gus's World Famous Fried Chicken</a>
                    </h6>
                    <p class="text-gray mb-1"><i class="icofont-location-arrow"></i> 730 S Mendenhall Rd, Memphis, TN 38117, USA
                    </p>
                    <p class="text-gray mb-3"><i class="icofont-list"></i> ORDER #25102589748 <i class="icofont-clock-time ml-2"></i> Mon, Nov 12, 6:26 PM</p>
                    <p class="text-dark">Veg Masala Roll x 1, Veg Burger x 1, Veg Penne Pasta in Red Sauce x 1
                    </p>
                    <hr>
                    <div class="float-right">
                      <a class="btn btn-sm btn-outline-primary" href="#"><i class="icofont-headphone-alt"></i> HELP</a>
                      <a class="btn btn-sm btn-primary" href="#"><i class="icofont-refresh"></i> REORDER</a>
                    </div>
                    <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold"> Total Paid:</span> $300
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
