<section id="pay">
  <section id="profile">
    <div class="container">
      <div class="row">
        <div class="col-10 text-center">
          <div class="card">
            <div class="our-team">
              <div class="team-content">
                <%= form_with url: orders_path, local: true, method: :post do |form| %>
                  <% if order.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
                      <ul>
                        <% order.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-group">
                    <%= form.hidden_field :cart_id, value: @cart.id, readonly: true, class: "form-control" %>
                  </div>
                  <div class="field">
                    <%= form.hidden_field :user_id, value: current_user.id, readonly: true, class: "form-control" %>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Nom d'utlisateur</span>
                    <%= form.text_field :username, value: current_user.username, class: "form-control" %>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Prénonm</span>
                    <%= form.text_field :name, value: current_user.first_name, class: "form-control" %>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Montant</span>
                    <%= form.text_field :total_price, value: @cart.sub_total, readonly: true, class: "form-control" %>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Email</span>
                    <%= form.text_field :email, value: current_user.email, readonly: true, class: "form-control" %>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Adresse</span>
                    <%= form.text_field :adress, value: current_user.adress, class: "form-control" %>
                  </div>
                  <%=button_to "Valider commande", orders_path, class: "btn btn-primary"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
