<% @items.each do |item|%>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="col-xs-12 col-md-10 bootstrap snippets bootdeys">
      <div class="product-content product-wrap clearfix">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="product-image">
              <%=image_tag item.image_url%>
              <span class="tag2 hot">
                hot
              </span>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="product-deatil">
              <h5 class="name">
                <a href="<%=item_path(item.id)%>">
                  <%=item.title%> <span>comics</span>
                </a>
              </h5>
              <p class="price-container">
                <span><%=number_to_currency(item.price, unit: "€", format: "%n %u")%></span>
              </p>
              <span class="tag1"></span>
            </div>
            <div class="description">
              <p><%=item.description%> </p>
            </div>
            <div class="product-info smart-form">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <%= button_to line_items_path(:item_id => item.id), { class: "btn btn-success btn-rounded me-1"} do %>
                    <i class="fa fa-shopping-cart"> Ajouté au panier</i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
